.main_div_web
{
	display: flex;
	position: absolute;
	width: 110pc;
	height: 600px;
	top: 100px;
	left: 50px;
	margin: 20px;
}
.heading
{
	width: 150px;
	height: 60px;
	
	color: black;
	margin-left: 30px;
	font-size: 30px;
	font-family: 'Langar', cursive;
}
.img
{
	display: flex;
	position: relative;
	width: 400px;
	height: 400px;
	background-image: url('5.jpeg');
	background-size: cover;
	top:  80px;
	left: 1px;
	box-shadow: 10px 15px 10px 5px #867979;
}
		.main_E_mail1
		{
			display: flex;
			position: absolute;
			width: 110pc;
			height: 300px;
			top: 900px;
			margin-top: -150px;
			background-color: black;
		}
		.input_Email_1
		{
			width: 400px;
			height: 43px;
			margin-left: 800px;
			margin-top: 60px;
			color: white;
			font-size: 30px;
		}
		.main_page
		{
			display: flex;
			position: relative;
			width: 600px;
			height: 400px;
			top: 80px;		
			font-size: 20px;
			margin-left: 50px;
			
		}
	@media (max-width: 768px)
	{

		.main_page
		{
			display:flex;
			position: relative;
			width: 400px;
			height: 350px;
			left: -110px;
			margin-left: -290px;
			top: 525px;
		}
		.main_E_mail1
		{
			display: flex;
			position: absolute;
			width: 110pc;
			height: 300px;
			top: 900px;
			margin-top: 150px;
			background-color: black;
		}
		.input_Email_1
		{
			
			width: 300px;
			font-size: 14px;
			margin-left: 50px;
			margin-top: 60px;
			color: white;
			font-size: 25px;
		}
		.img
		{
			display: flex;
			position: relative;
			width: 400px;
			height: 400px;
			background-image: url('5.jpeg');
			background-size: cover;
			top:  40px;
			margin-left: -30px;
			border-radius: 5px;
			box-shadow: 10px 30px 10px 5px #867979;
		}
	}
.icon-bar a
		{
			text-decoration: none;
			width: 220px;
			background-color: #3b5999;
			color: #fff;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			padding: 5px;
			transform: translateX(-175px);
			transition: all 1s linear;
			box-shadow: 10px 5px 10px 5px #867979;
		}
		a i{
			padding-left: 20px;
			font-size: 30px !important;
			animation: let 3s linear alternate-reverse infinite
		}
		a:hover{
			transform: translateX(0);	
		}
		@keyframes let
		{
			from{
				transform: scale(0.8);
			}
			to{
				transform: scale(1);
			}
		}