		.slider
		{
				
				background-image:url('img/12.png');
				background-size: cover; 
				width: 100pc;
				height: 600px;
				box-shadow: 10px 20px 20px 5px #867979;
				animation: slider 10s infinite linear;
		}
		@keyframes slider
		{
			15%
			{
				background-image:url("img/14.jpg");
			}
			30%
			{
				background-image:url("img/10.jpg");
			}
			75%
			{
				background-image:url("img/15.jpg");
			}
			100%
			{
				background-image:url("img/16.jpg");	
			}
		}
		.h1
		{
			margin-top: -570px;
			background-image: url('img/141.jpg');
			color: transparent;
			-webkit-background-clip:text;
			margin-left: 400px;
			font-family: 'Shadows Into Light', cursive; 
		}
		.grand_parents
		{
			width: 100vw;
			height: 100vh;
			margin-top: 600px;
		}
		
		.img_
		{
			width: 80vw;
			height: auto;
			margin: auto; 
			display: flex;

			justify-content: space-around;
			flex-wrap: wrap;
		}
		.childs_
		{
			height:350px;
			width :300px;
			box-shadow: 10px 5px 10px 5px #867979;	
			margin: 15px;
			overflow: hidden;
		}
		.childs_ img
		{
			width: 300px;
			height: 250px;
			border-bottom: 2px solid black;
		}
		.childs_:first-child{}
		.childs_:last-child{}
.topnav {
  overflow: hidden;
  background-color: #333;
}
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.active {
  background-color: #333;
  color: white;
}

.topnav .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #555;
  color: white;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;

}
.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background:transparent;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
  .topnav .search-container {
    float: none;
  }
  
  .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
  .slider
    {
        
        background-image:url('img/12.png');
        background-size: cover; 
        width: 40pc;
        height: 600px;
        box-shadow: 10px 20px 20px 5px #867979;
        animation: slider 10s infinite linear;
    }
    .h1
    {
      margin-top: -570px;
      background-image: url('img/141.jpg');
      color: transparent;
      -webkit-background-clip:text;
      margin-left: 200px;
      font-family: 'Shadows Into Light', cursive; 
    }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }

}
.search-container 
{
  float: right;
}
